<div class="body">
  <div class="head">
      <h1>My Direct</h1>
  </div>
  <div class="tablef">
      <table>
          <tr class="tableHead">
              <th>Id</th>
              <th>Name</th>
              <th>Phone</th>
              <th>Joining Date</th>
              <!-- <th>Package</th> -->
              <th>Account Status</th>
          </tr>
          <tr class="tablec" *ngFor="let r of resData">
              <th>{{r.id}}</th>
              <th>{{r.name || 0}}</th>
              <th>{{r.mobile || 0}}</th>
              <th>{{r.joiningDate || 0}}</th>
              <!-- <th>{{r.package|| 0}}</th> -->
              <th>{{r.status || 0}}</th>
          </tr>
      </table>
  </div>
</div>