<!-- <div class="topnav">
<a class="active" href="#home">Home</a>
<a href="#our services">OUR SERVICES</a>
<a href="#about us">ABOUT US</a>
<a href="#testimonial">TESTIMONIAL</a>
<a href="contact us">CONATCT US</a>
</div>
<div style="padding-left: 16px;">
<h2>Top Naviagtion</h2>
<p></p>
</div>
<img src="dashback website top (1)">
<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>recipt</mat-icon>
      <span>Check recipt</span>
    </button>
    <button mat-menu-item>
      <mat-icon>label</mat-icon>
      <span>check label</span>
    </button>
  </mat-menu>
<div class ="conatiner">
    <h2>My Carousel</h2>
    <div id="My Carousel" class="Carousel 
    slide" data-ride="Carousel">
<ul class="Carousel-indicators">
    <li data-ride-target="#myCarousel" data-slide-to="0"
    class="active"></li>
    <li data-ride-target="#myCarousel" data-slide-to="1"
    class="active"></li>
    <li data-ride-target="#myCarousel" data-slide-to="2"
    class="active"></li>
    <div class="Carousel-inner">
        <div class="item active">
            <img src="a.jpg" alt="" style="widows: 100%;">
                <div class="item">
                    <img src="b.jpg" alt="" style="widows: 100%;">
                        <div class="item">
                            <img src="c.jpg" alt="" style="widows: 100%;">
                                </div>
                                </div>
                                </div>
                                </div>
                                </img>
                                </ul>
                                <a class="left carousel-control"
                                href="#myCarousel" data-slide="prev">
                            <span class="carousel-left"></span>
                            <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control"
                            href="#myCarousel" data-slide="next">
                            <span class="carousel-right"></span>
                            <span class="sr-only">next</span>
                        </a>
        </div>
            </div>
        </div>
    </div>
</ul>
</div>
</div> 
<h1>OUR SERVICES</h1>
<div class ="conatiner">
    <h2>My Carousel</h2>
    <div id="My Carousel" class="Carousel 
    slide" data-ride="Carousel">
<ul class="Carousel-indicators">
    <li data-ride-target="#myCarousel" data-slide-to="0"
    class="active"></li>
    <li data-ride-target="#myCarousel" data-slide-to="1"
    class="active"></li>
    <li data-ride-target="#myCarousel" data-slide-to="2"
    class="active"></li>
    <div class="Carousel-inner">
        <div class="item active">
            <div class="text" alt="" style="widows: 50px;">
                <div class="item">
                    <div class="text" alt="" style="widows: 50px;">
                        <div class="item">
                            <div class="text" alt="" style="widows: 50px;">
                                </div>
                                </div>
                                </div>
                                </div>
                                </img>
                                </ul>
                                <a class="left carousel-control"
                                href="#myCarousel" data-slide="prev">
                            <span class="carousel-left"></span>
                            <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control"
                            href="#myCarousel" data-slide="next">
                            <span class="carousel-right"></span>
                            <span class="sr-only">next</span>
                        </a>
        </div>
            </div>
        </div>
    </div>
</ul>
</div>
</div>
<h1>ABOUT US</h1>
<P>Dash Back is a referral program initiated by Hadrcipher Pvt. Ltd. The word Dash is derived from 
    which means blank and the word Back is taken from Cash Back. Dash Back has tied up with one of the 
    leading broker company's of India which is Trade Plus.
    You will grt a Demand Account opened with Tarde Plus. Through which you cabn trade on our Trading 
    App and earn Trading profit. In case if you are beginner in trading or have faced a lot of loss in Trading,
    you need not to worry. Dash Back will help you in earning profits. Through their Master Trader
    Prediction Methods. Through Dash Back you can earn multiple types of income.
</P>
<h1>TESTIMONIALS</h1>
<div class ="conatiner">
    <h2>My Carousel</h2>
    <div id="My Carousel" class="Carousel 
    slide" data-ride="Carousel">
<ul class="Carousel-indicators">
    <li data-ride-target="#mytestimonials" data-slide-to="0"
    class="active"></li>
    <li data-ride-target="#mytestimonials" data-slide-to="1"
    class="active"></li>
    <li data-ride-target="#mytestimonials" data-slide-to="2"
    class="active"></li>
    <div class="Carousel-inner">
        <div class="item active">
            <div class="text" alt="" style="widows: 50px;">
                <div class="item">
                    <div class="text" alt="" style="widows: 50px;">
                        <div class="item">
                            <div class="text" alt="" style="widows: 50px;">
                                </div>
                                </div>
                                </div>
                                </div>
                                </img>
                                </ul>
                                <a class="left carousel-control"
                                href="#mytestimonials" data-slide="prev">
                            <span class="carousel-left"></span>
                            <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control"
                            href="#mytestimonials" data-slide="next">
                            <span class="carousel-right"></span>
                            <span class="sr-only">next</span>
                        </a>
        </div>
            </div>
        </div>
    </div>
</ul>
</div>
</div>
<h1>CONATCT US</h1>
<div class="row">
    <img src="a (1)">
    <div class="column"
    style="background-color: rgb(91, 91, 247);"> 
 </div>
 <div class="row">
    <img src="">
    <div class="column"
    style="background-color: rgb(91, 91, 247);"> 
 </div>
 <div class="row">
    <img src="">
    <div class="column"
    style="background-color: rgb(91, 91, 247);"> 
 </div>
<footer>
    <div class="row">
        <div class="column"
        style="background-color: rgb(5, 5, 70);"> 
     </div>
     <img src="footer.png">
     <p><a href="#"><i class="fa fa-facebook"></i></a>
         <a href="#"><i class="fa fa-twitter"></i></a>
         <a href="#"><i class="fa fa-instagram"></i></a>
     </p>
     <div class="row">
         <div class="column"
         style="background-color: rgb(10, 10, 90);"> 
      </div>
      <p>Hadrcipher Pvt Ltd
          B3/17, First floor, Modal Town
          Part-1,Delhi-110009
          Near Modal Town Metro Station
      </p>
    </div>
</div>
</footer> -->
<router-outlet></router-outlet>