<div class="body">
    <div class="banner">
        <img src="../../assets/flags-1.png" alt="" class="bg" style="width: 20%; height: auto; float: left;">
        <img src="../../assets/flags-2.png" alt="" class="bg" style="width: 20%; height: auto; float: right;">
    </div>
    <div class="logo">
        <img src="../../assets/holi-db.png" alt="">
        <!-- <div class="text" style="color:#000">
            <h1>DASH BACK</h1>
            <h3>REPLACE THE DASH WITH LOT OF CASH</h3>
        </div> -->
    </div>

    <div class="updates">
        <marquee behavior="" direction="left">We are under Maintainance. We will be live back soon. Till then Pre Register on App.</marquee>
    </div>
    <div class="about">
        <img src="../../assets/blue-arc - Copy.png" alt="" class="left-bg">
        <div class="about-left">
            <ul>
                <li><b>Dash Back</b> is a refferal program initiated by <b>Hardcipher Pvt. Ltd.</b> </li>
                <li>The word dash is derived from "_" which means empty or blank and the back is taken from Cash back. </li>
                <li>Dash back has tied up with one of the leading broker company's of india which is <b>Trade Plus</b>.</li>
                <li>You will get a Demat Account opened with Trade Plus, Through which you can trade on your trading APP and earn Trading Profit.</li>
                <li>Dash Back helps beginners in earning profits, Through their Master Trader Predition Methods.</li>
                <li>Through Dash Back you can earn multiple types of income.</li>
            </ul>
        </div>
        <div class="about-db">
            <h1>ABOUT</h1>
            <h1>DASH BACK</h1>
            <div class="about-logo">
                <img src="../../assets//logo.png" alt="">
            </div>
            <button mat-raised-button routerLink="login">LOGIN</button>
        </div>
    </div>
    <div class="why">
        <h1>Why Choose Dash Back?</h1>
        <div class="why-img">
            <img src="../../assets/pyramid.png" alt="">
        </div>
    </div>
    <div class="reward">
        <h1>Win Rewards Worth Rs.1crore</h1>
        <div>
            <mat-grid-list cols="3" rowHeight="1:1">
                <mat-grid-tile>
                    <img src="../../assets/flat.jpg" alt="">
                    <mat-grid-tile-footer>
                        <!-- 10,00,000 Sponsors <br> -->3BHK Flat </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../assets/bmw1-914382.jpg" alt="">
                    <mat-grid-tile-footer>
                        <!--5,00,000 Sponsors <br> -->BMW</mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../assets/goa-tour1529485510-0.jpg" alt="">
                    <mat-grid-tile-footer>
                        <!--30,000 Sponsors <br>-->Goa Tour</mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../assets/iphone.png" alt="">
                    <mat-grid-tile-footer>
                        <!--10,000 Sponsors <br>-->iPhone </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../assets/best-price-laptop-Spitacgt.png" alt="">
                    <mat-grid-tile-footer>
                        <!--4,000 Sponsors <br>-->Laptop </mat-grid-tile-footer>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../assets/led-tv-png-1.png" alt="">
                    <mat-grid-tile-footer>
                        <!--1,000 Sponsors <br>-->L.E.D T.V </mat-grid-tile-footer>
                </mat-grid-tile>
            </mat-grid-list>
            <h3>Check More ....</h3>
        </div>
    </div>
    <div class="account">
        <h1>How to Open Demat Account</h1>
        <div class="accGrid">
            <mat-grid-list cols="3" rowHeight="1:1">
                <mat-grid-tile>
                    <h2>1.</h2>
                    <img src="../../assets/icon-filll-form.png" alt="">
                    <h6>Fill up the form, paper or paperless and submit for verification.</h6>
                </mat-grid-tile>
                <mat-grid-tile>
                    <h2>2.</h2>
                    <img src="../../assets/icon-scan.png" alt="">
                    <h6>All your details are scanned and verified for opening your account.</h6>
                </mat-grid-tile>
                <mat-grid-tile>
                    <h2>3.</h2>
                    <img src="../../assets/hand-shake.png" alt="">
                    <h6>Once verified you recive a unique ID & volia, you are ready to trade.</h6>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div class="Questions">
        <h1>Frequently Asked Questions</h1>
        <h4>How much time does it take to open a demate account?</h4>
        <h6>Once you submit your complete account opening form and upload all the <br> required documents for verifiction, it takes abot 24-48 hours to open an account.</h6>
        <h4>What documents are required to open a demate account?</h4>
        <h6>Opening a demate account is Aadhaar-Based. You just have to keep these documents <br> handy to fasttrack your appliction:Aadhar Card, PAN Card, Cancelled Cheque <br> and the Latest Bank statementwith IFSC/MICR code.
        </h6>
    </div>
    <div class="fdb">
        <div class="fdb-left">
            <div class="fdb-left-img">
                <img src="../../assets/feedback.png" alt="">
            </div>
            <h1>FEEDBACK</h1>
        </div>
        <div class="fdb-right">
            <img src="../../assets/blue-arc.png" alt="">
            <h1>Coming Soon.......</h1>
        </div>
    </div>
    <div class="section">
        <h1>Join Dash Back Now</h1>
        <h3>Become The King Of Trading.</h3>
        <h3>Trade Faster. Trade Smater.</h3>
        <h2>REPLACE THE DASH WITH LOT OF CASH.</h2>
        <button mat-raised-button>OPEN DEMAT ACCOUNT</button>
    </div>
</div>